body
{
    padding    : 0px;
    margin     : 0px;
    background : #EAE6DA;
}

#main
{
  min-height : 100%
}

#table
{
  font-family : monospace;
  font-size   : 6vh;
  font-weight : 300
  white-space : pre;
  position    : fixed;
  left        : 50%;
  top         : 40%;
  transform   : translate(-50%, -50%);
  margin      : 0 auto;
}

#caption
{
  font-family : Helvetica, Arial, sans-serif;
  font-size   : 10vh;
  font-weight : 300;
  position    : fixed;
  left        : 50%;
  top         : 10px;
  color       : #3993d0;
  line-height : 1;
  text-align  : center;
  transform   : translate(-50%, 0%);
  margin      : 0 auto;
}

.horzDiv
{
  display : flex;
  margin  : 10px 0 0 0;
}

#info
{
  font-family : Helvetica, Arial, sans-serif;
  font-size   : 10vh;
  font-weight : 300;
  position    : fixed;
  margin      : 10px 0 0;
  left        : 10px;
  bottom      : 10px;
  line-height : 1;
  text-align  : center;
  white-space : pre;
}

#gameButton
{
  font-family : Helvetica, Arial, sans-serif;
  font-size   : 7vh;
  font-weight : 300;
  background  : #34495f;
  border      : 0;
  color       : #fff;
  cursor      : pointer;
  display     : block;
  outline     : none;
  padding     : 0;
  width       : 35vh;
  height      : 15vh;
  line-height : 15vh;
  position    : fixed;
  left        : 50%;
  bottom      : 10px;
  transform   : translate(-50%, 0%);
  margin      : 0 auto 0;
}

.controlButton
{
  background          : #34495f;
  border              : 0;
  color               : #fff;
  cursor              : pointer;
  text-align          : center;
  -webkit-user-select : none;
  font-family         : Helvetica, Arial, sans-serif;
  font-size           : 10vh;
  font-weight         : 300;
  width               : 15vh;
  height              : 15vh;
  line-height         : 15vh;
  margin              : 10px 0 0 0;
  outline             : none;
  padding             : 0;
}

#controls
{
  margin   : 0 auto 0;
  position : fixed;
  right    : 10px;
  bottom   : 10px;
  display  : flex;
}

#arrowLeft
{
  margin : 25% 10px 0 0
}

#rules
{
  margin      : 0 auto 0;
  position    : fixed;
  right       : 10px;
  bottom      : 10px;
  font-family : Helvetica, Arial, sans-serif;
  font-size   : 4vh;
  font-weight : 300;
  white-space : pre;
  display     : block;
}

#intro
{
  color       : #34495f;
  font-family : Helvetica, Arial, sans-serif;
  font-size   : 4vh;
  font-weight : 300;
  position    : fixed;
  left        : 50%;
  top         : 45%;
  width       : 90%;
  height      : 55%;
  transform   : translate(-50%, -50%);
  margin      : 0 auto;
  text-align  : center;
}

#orientationHint
{
  position  : fixed;
  left      : 50%;
  top       : 50%;
  transform : translate(-50%, -50%);
  margin    : 0 auto;
}
